* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    margin: 10px;
  }
   .form-container2{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    margin: 10px;
    margin-left: 2rem;
    transform: scaleX(0);
    transform-origin: right;
    
   }
   .form-container2.active{
    transform: scaleX(1);
    transition: 0.2s ease-in-out;
   }
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .buttons{
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  
  
  
  button:hover {
    background-color: #44ff4d;
    color: #000;
  }
  .btn{
    width: 40%;
    padding: 0.5rem 2rem;
    color: #45a049;
    background: #000;
    border: none;
    border-radius: 0.5rem;
  }
  